*::selection {
    background-color: red;
}

body {
    padding-top: 70px;
}

* {
    color: azure;
}

.mat {
    top: 20px;
    align-content: center;
    margin-left: -15%;
}

.card-wrapper {
    display: inline;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 1rem;
}

.card {
    width: 100% !important;
}

.card-img-top {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.live {
    margin-top: -7%;
}

.over {
    margin-top: -5%;
}

.noise {
    margin-top: -5%;
}

@media (max-width: 992px) {
    .cards-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .cards-container {
        grid-template-columns: 1fr;
    }
}

.list_item:hover {
    background-color: red;
}
.list_item{
    font-size: 25px;
}

.user-form {
    right: 60px;
    top: 50px;
}

.user-dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    width: 300px;
    position: absolute;
    right: -15px;
    top: 25px;
}

.modal-body .form-control::placeholder {
    color: rgba(255, 255, 255, 0.5) !important;
}

.card-container {
    display: flex;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.col-md-4 .form-control::placeholder {
    color: rgba(255, 255, 255, 0.5) !important;
}

.card-wrapper {
    display: flex;
}